        <section class="position-relative cover-background tz-builder-bg-image border-none xs-padding-60px-tb hero-style2 bg-img-one" id="hero-section2" data-img-size="(W)1920px X (H)800px" style="background:linear-gradient(rgba(22,22,22,0.65), rgba(22,22,22,0.65)), url('/img/bg-casas-1.jpg')">
            <div class="container one-fourth-screen position-relative">
                <div class="row">
                    <div class="slider-typography text-center xs-position-static">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle equalize xs-equalize-auto">
                                <!-- slider text -->
                                <div class="col-md-6 col-sm-7 col-xs-12 text-left xs-text-center">
                                    <h2 class="sm-title-extra-large xs-title-extra-large alt-font title-extra-large-2 line-height-55 text-white tz-text margin-seventeen-bottom">La mejor forma de alquilar, comprar o vender una propiedad es con Te Lo Alquilo App, tenemos el mejor servicio del mercado!</h2>
                                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-lr margin-thirteen-bottom padding-seven-bottom xs-margin-fifteen-bottom border-bottom-light tz-border">
                                        <div class="vertical-align-middle header-number float-left border-greenish-blue xs-display-none tz-border"><span class="title-small alt-font text-greenish-blue tz-text line-height-inherit">01</span></div>
                                        <div class="info margin-twenty-seven-left xs-no-margin sm-margin-twenty-nine-left xs-width-100 xs-clear-both">
                                            <h3 class="text-extra-large margin-two-bottom text-greenish-blue vertical-align-middle xs-margin-five-bottom xs-text-extra-large alt-font tz-text">Por qué preferirnos?</h3>
                                            <span class="text-medium text-white vertical-align-middle width-85 sm-width-100 tz-text display-block">Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been he standard dummy.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-lr xs-margin-nineteen-bottom">
                                        <div class="vertical-align-middle float-left xs-display-none border-greenish-blue header-number tz-border"><span class="title-small alt-font text-greenish-blue tz-text line-height-inherit">02</span></div>
                                        <div class="info margin-twenty-seven-left xs-no-margin sm-margin-twenty-nine-left xs-width-100 xs-clear-both">
                                            <h3 class="text-extra-large margin-two-bottom font-weight-500 text-greenish-blue vertical-align-middle xs-margin-five-bottom xs-text-extra-large alt-font tz-text">Encuentra lo que busca</h3>
                                            <span class="text-medium text-white vertical-align-middle width-85 sm-width-100 tz-text display-block">Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been he standard dummy.</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider text -->
                                <!-- contact form -->
                                <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 position-relative xs-margin-thirteen-bottom ">
                                    <div class="bg-greenish-blue-rgba tz-background-color padding-seventeen border-radius-6 text-center xs-padding-thirteen">
                                        <h6 class="alt-font margin-twenty-bottom font-weight-700 tz-text text-white">REGISTRO DE PROPIEDAD</h6>
                                        <form action="/properties/register" method="POST">
                                            <input type="text" name="title" id="title" data-email="required" placeholder="*Titulo del anuncio" class="medium-input border-radius-4" value="{{title}}">
                                            <input type="text" name="city" id="city" data-email="required" placeholder="*Ciudad" class="medium-input border-radius-4" value="{{city}}">
                                            <input type="text" name="zone" id="zone" data-email="required" placeholder="*Zona" class="medium-input border-radius-4" value="{{zone}}">
                                            <input type="text" name="neighbord" id="neighbord" data-email="required" placeholder="*Barrio" class="medium-input border-radius-4" value="{{neighbord}}">
                                            <input type="text" name="price" id="price" placeholder="Precio" class="medium-input border-radius-4" value="{{price}}">
                                            <label for="beds">Escoja el nnúmero de habitaciones:</label>
                                            <select name="beds" id="beds">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <label for="beds">Escoja el nnúmero de baños:</label>
                                            <select name="bathrooms" id="bathrooms">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <label for="beds">Escoja la foto de la propiedad:</label>
                                            <input type="file" name="path_image" id="path_image" data-email="required" placeholder="*Escoge tu imagen" class="medium-input border-radius-4">
                                            <button type="submit" class="hero-submit btn btn-large propClone bg-dark-speech-blue text-white display-block width-100">REGISTRE UNA PROPIEDAD</button>                                                
                                        </form>
                                    </div>
                                    
                                </div>
                                <!-- end contact form -->
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </section>